BACKUP_DIR="/var/backups/db"

MYSQL_USER="root"

MYSQL_PASSWORD=""

CONFIG_DB_EXCLUDE="mysql|information_schema|performance_schema|sys|test"

# attachments | no_attachments | no_email | rclone
EMAIL_OPTION="no_attachments"

SENDER_NAME="Admin"

EMAIL_TO=""

RCLONE_REMOTE="gdrive"

# Comma-separated list of site folders for rclone upload
RCLONE_SITES=""
